{% extends 'layout.html' %}

{% block title %} {{title}} {%endblock%}

{% block head %}
	<link href="/stylesheets/index.css" rel="stylesheet" />
	<script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.min.js"></script>
	<script src="https://cdn.bootcss.com/systemjs/0.20.17/system.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
	<script src="/scripts/addone.js"></script>
	<script src="/scripts/throttle.js"></script>
	<script src="/scripts/tag.js"></script>
{% endblock %}

{% block content %}
<div id="hand-wrapper">
		<div>当前点赞数量：<span id="currentPraise"></span></div>
		<x-praise></x-praise>
	</div>
	<script>
		$(function () {
		    SystemJS.import('/scripts/index-compiled.js').then(function (m) {
				//绑定插件
				jQuery.fn.extend({
					initPraise: function (limit,callback) {
						return new m.default({
							element: this,
							limit: limit,
							callback:callback
						});
					}
				});

				//使用插件
				$('#hand-wrapper').initPraise(10,function(){
					axios.get('/praise/add')
					.then(function (response) {
						if(response.data.success){
							var currentNum= parseInt( $("#currentPraise").text() );
							$("#currentPraise").text(currentNum+1);
						}else{
							console.log(response.data);
						}
						
					});
				});
			});
			//获取当前数据库中的点赞数
			// axios.get('/praise/select')
			// .then(function (response) {
			// 	$("#currentPraise").text(response.data);
			// });
		});
	</script>
{% endblock %}